<style>{}

h1 {
    color: brown
    }

input {
    width: 45%;
    box-shadow: inset 0 1px 0 rgba(0,0,0,.1), inset 0 1px 1px rgba(0,0,0,.05);
    border-radius: 3px;
    border: 1px solid;
    padding: .47058824rem .70588235rem;
    border-color: #858585 #c2c2c2 #c2c2c2;
    background: #fff;
    font-size: .88235294rem;
    line-height: 1.2;
    cursor: text;
    color: #1f1f1f;
    }

input[type=date], select {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
    }

#searchbutton {
    border-color: brown;
    background: brown;
    color: whitesmoke;
    text-decoration: none;
    font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
    display: inline-block;
    position: relative;
    margin: .70588235em .70588235em 0 0;
    border-radius: .23529412em;
    font-size: 1em;
    line-height: 1.45;
    font-weight: 700;
    cursor: pointer;
    }

/*  HOTEL BOX */ 

.hotel-wrap {
    width: 50%; 
    } 

.hotel-details {
    width: auto;
    margin-left: 0px;
    border-style: outset;
    border-color: brown;
    background-color: #A9A9A9;
    margin-bottom: 12px;
    margin-top: 12px;
    width: 100%;
    height: 180px;
    }
    .hotel-names {
        display: inline-block;
        background-color: #2F4F4F;
        padding: 14px 55px;
        border-style: outset;
        font-size: 16px;
        margin-left: 20px;
        opacity: 0.9;
        width: 25%;
        height: 40px;    
        }
        .hotel-name {
            font-weight: bold; 
            text-decoration: none;
            color: antiquewhite;
            }



    .hotel-location { 
        margin-top: 2px;
        font-size: 18px;
        margin-left: 20px;
        width: 120px;
        position: absolute;
        clear:both;
        }
        .hotel-address {
            font-style: italic;
            font-size: smaller;
            color: white;
            position: absolute;
            } 
            .p-street-address, .p-locality, .p-postal-code, .p-country-name {                     
                }



    .hotel-image {
        max-width: inherit;
        max-height: inherit;    
        margin-bottom: 2px;
        margin-top: 2px;
        clear:both;
        float: right;
        }
         .main-image  {
            width: 80%;
            height: 80%;
            border: 1px solid black;
            margin: 10px;            
            }



.low-rate {
    clear:both;
    float: right;
    text-decoration: none;
    font-weight: bold;
}

</style>